
mat-toolbar {
  background-color: antiquewhite;
  align-items: center;
 justify-content: space-around;
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.center{
    display: flex;
    flex-direction: row;
    
    
  
  
   
   
   gap: 0px;
   
  
}  

.about {
  flex: 1;
  margin-left: 100px;
}

.column:hover {
  background-color: burlywood;
  color: black;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;

  position: absolute;
}

.menuitem {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.menuitem > span {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.menu .menuitem:hover {
  background-color: rgb(208, 208, 208);
}

.menu .menuitem:active {
  background-color: rgb(170, 170, 170);
}

.submenu {
  /* margin-left: 600px; */
  position: absolute;
  top: 3%;
}

.submenuitem {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex: 1;
  cursor: pointer;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
}
.login {
  margin-left: 70px;
}
.signup {
  margin-left: 300px;
}
