.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: white;
    
   height: 20vh;
   margin-right: 20px;
   margin-left: 20px;
   
}

mat-toolbar-row {
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    margin-left: 400px;
    font-size: large;
}

.column {
    height: 100px;
    width: 100px;
    align-items: center;
    align-content: center;
    margin-left: 16px;
    /*margin-right: 16px;  */
    justify-content: center;
    padding-left: 40px;

}

.logo {
    width: 100px;
    height: 100px;

    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
}

.about {
    flex: 1;
    margin-left: 100px;
}

.column:hover {
    background-color: burlywood;
    color: black;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
    
    position: absolute;

}

.menuitem {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    position: relative;

}

.menuitem>span {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

.menu .menuitem:hover {
    background-color: rgb(208, 208, 208);
}

.menu .menuitem:active {
    background-color: rgb(170, 170, 170);
}

/* .menuitem[aria-expanded='true'] {
      background-color: rgb(208, 208, 208) !important;
    } */
.submenu {

    /* margin-left: 600px; */
    position: absolute;
    top: 3%;
}

.submenuitem {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    flex: 1;
    cursor: pointer;
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;



}