<app-taskbar></app-taskbar>

<div class="base">
  <div class="writings">
    <p class="catchy"><span style="color: blue">EXPERIENCE PURE BLISS</span></p>
    <br />
    <p class="catchy">BEAUTY AWAITS YOU HERE</p>
    <br />
    <p>
      Incredible <span style="font-weight: 500">nail designs</span> and overall
      <span style="font-weight: 500">good services</span>
    </p>
    <br />
    <button mat-raised-button color="accent" routerLink="/booking">
      Book an Appointment <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="baseimg">
    <img class="landing" src="\assets\landing.jpg" alt="" />
  </div>
</div>

<div class="services">
  <div class="intro">
    <h1 style="color: #da8388">Services</h1>
    <p
      style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
      "
    >
      The services we offer
    </p>
  </div>
  <div class="firstimagediv">
    <div class="imagediv">
      <img class="serviceimage" src="\assets\nails5.jpg" alt="" />
      <div class="overlap">
        <p>Nails</p>
        <p style="margin-left: 10px">
          Indulge in the luxury of beautiful nails
        </p>
        <div style="flex-direction: row; display: flex">
          <a style="margin-top: 3px; margin-right: px">READ MORE </a
          ><mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </div>
    <div class="imagediv">
      <img class="serviceimage" src="\assets\manicure2.jpg" alt="" />
      <div class="overlap">
        <p>Manicure</p>
        <p style="margin-left: 10px">
          Welcome to our manicure oasis, where luxury meets precision and every
          detail matters.
        </p>
        <div style="flex-direction: row; display: flex">
          <a style="margin-top: 3px; margin-right: px">READ MORE </a
          ><mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </div>
    <div class="imagediv">
      <img class="serviceimage" src="\assets\pedicure1.jpg" alt="" />
      <div class="overlap">
        <p>Pedicure</p>
        <p style="margin-left: 10px">
          Designed to soothe tired feet and enhance natural beauty
        </p>
        <div style="flex-direction: row; display: flex">
          <a style="margin-top: 3px; margin-right: px">READ MORE </a
          ><mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials">
    <div><p>Testimonials</p></div>
    <div class="swiper-container" >
      <div class="swiper-wrapper" >
    <div class="swiper-slide" *ngFor="let testimonial of testimonials">
      <div>
        <img src="\assets\star.svg" alt="" />

        <img src="\assets\star.svg" alt="" />
        <img src="\assets\star.svg" alt="" />
        <img src="\assets\star.svg" alt="" />
        <img src="\assets\star.svg" alt="" />
        <div>
          <p>{{ testimonial.name }}</p>
        </div>
        <div><img class="avatar" [src]="testimonial.image" alt="" /></div>
      </div>
</div>
    </div>  
    </div>
    <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-scrollbar"></div>
  </div>
  <footer>
    <div class="footerdiv">
      <div class="topfooter">
        <div><img class="logo" src="\assets\lip.jpeg" alt="" /></div>
      </div>
      <div class="bottomfooter">
        <div class="support">
          <p><em class="experienceem">Support</em></p>
          <p>F.A.Q</p>
          <p>PRIVACY POLICY</p>
          <P>TERMS AND CONDITIONS</P>
          <P>ACCESIBILTY</P>
          <P>CONTACT US</P>
        </div>
        <div class="bottomseparator"></div>
        <div>
          <p><em class="experienceem">Follow us</em></p>
          <P>INSTAGRAM</P>
          <P>FACEBOOK</P>
          <P>PINTEREST</P>
          <P>NEWSLETTER</P>
        </div>
        <div class="bottomseparator"></div>
        <div>
          <p><em class="experienceem">Nails by Adino</em></p>
          <P>CAREERS</P>
          <P>LOCATION</P>
        </div>
      </div>
    </div>
  </footer>
</div>
